{% extends "extensions/layout.html" %}
{% block title %}Extensions Registry{% endblock %}
{% block body %}
  <p>
    Welcome to the Flask extensions registry.  Here you can find a list
    of packages that extend Flask.  This list is moderated and updated
    on a regular basis.  If you want your package to show up here,
    follow the <a href="{{ url_for('docs.show', page='extensiondev')
    }}">guide on creating extensions</a>.
  {% for extension in extensions %}
  <a name={{ extension.name }}></a>
  <div class=extension>
    <h2{% if extension.approved %} class=approved{% endif %}>{{ extension.name }}</h2>
    <div class=description>
      {{ extension.description }}
      {%- if extension.approved %}
      <p class=approved>This is an approved extension.
      {%- endif %}
    </div>
    <dl>
      <dt>Author:
      <dd>{{ extension.author }}
      <dt>PyPI Page:
      <dd><a href="{{ extension.pypi }}">{{ extension.name }}</a>
    {% if extension.website %}
      <dt>Website:
      <dd>{{ extension.website|urlize }}
    {% endif %}
    {% if extension.docs %}
      <dt>Documentation:
      <dd><a href="{{ extension.docs }}">Read docs @ {{ extension.docserver }}</a>
    {% endif %}
    {% if extension.github %}
      <dt>On Github:
      <dd><a href="http://github.com/{{ extension.github }}/">{{ extension.github }}</a>
    {% endif %}
    {% if extension.bitbucket %}
      <dt>On Bitbucket:
      <dd><a href="http://bitbucket.org/{{ extension.bitbucket }}/">{{ extension.bitbucket }}</a>
    {% endif %}
    </dl>
  </div>
  {% endfor %}
{% endblock %}
