.navbar .navbar-brand {
    font-family: Georgia, serif;
    font-weight: 800;
    color: #377BA8;
    font-size: 200%;
}

.message-item {
    margin-bottom: 1em;
    padding: 0.75em;
}

.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

th {
    background: rgba(0,0,0,0.075);
}

.add-entry-panel {
    display: none;
}