{% extends "community/layout.html" %}
{% block body %}
  <p>
    Even though Flask is a rather new project, there has already a healty
    community evolved around it.  There is an active
    <a href="{{ url_for('mailinglist.index') }}">mailinglist</a> both for
    developers using Flask as well as working on the core, and an
    <a href="{{ url_for('community.irc') }}">IRC</a> channel.
  <p>
    If you want to spread the word, there is also a selection of
    <a href="{{ url_for('community.badges') }}">badges</a> and
    <a href="{{ url_for('community.logos') }}">logos</a> you can use
    on your own website.
  <ul>
    <li><a href="{{ url_for('mailinglist.index') }}">Mailinglist</a>
    <li><a href="{{ url_for('community.irc') }}">IRC Channel</a>
    <li><a href="{{ url_for('community.twitter') }}">Flask on Twitter</a>
    <li><a href="{{ url_for('community.badges') }}">Badges</a>
    <li><a href="{{ url_for('community.logos') }}">Logos</a>
  </ul>
{% endblock %}
