{% extends "community/layout.html" %}
{% block body %}
  <p>
    Even though Flask is a rather new project, there has already been a healthy
    community evolved around it.  There is an active
    <a href="{{ url_for('mailinglist.index') }}">mailinglist</a> both for
    developers using Flask as well as working on the core, and an
    <a href="{{ url_for('community.irc') }}">IRC</a> channel.  Also consider
    visiting the <a href="http://feedback.flask.pocoo.org/">feedback</a>
    website and dropping us some messages there if you are happy or
    unhappy with Flask to help us improve.
  <p>
    If you want to spread the word, there is also a selection of
    <a href="{{ url_for('community.badges') }}">badges</a> and
    <a href="{{ url_for('community.logos') }}">logos</a> you can use
    on your own website.  There are also shirts and mugs available
    at the <a href="http://flask.spreadshirt.net/">Flask store</a>.
  <ul>
    <li><a href="{{ url_for('mailinglist.index') }}">Mailinglist</a>
    <li><a href=http://github.com/mitsuhiko/flask/issues>Issues tracker</a>
    <li><a href="{{ url_for('community.irc') }}">IRC Channel</a>
    <li><a href="{{ url_for('community.twitter') }}">Flask on Twitter</a>
    <li><a href="{{ url_for('community.poweredby') }}">Powered By Flask</a>
    <li><a href="{{ url_for('community.badges') }}">Badges</a>
    <li><a href="{{ url_for('community.logos') }}">Logos</a>
    <li><a href="http://feedback.flask.pocoo.org/">Feedback</a>
    <li><a href="http://flask.spreadshirt.net/">Store</a>
  </ul>
{% endblock %}
