{% extends "community/layout.html" %}
{% block title %}IRC Channel{% endblock %}
{% block body %}
  <h2>IRC Channel</h2>
  <p>
    The Flask IRC channel is <code>#pocoo</code> on irc.freenode.net.
    Flask shares that channel with other Pocoo projects, so please
    let the others know that you are talking about Flask when asking
    a question.
  <p>
    You can use any IRC client to connect to freenode.  If you don't
    have one yet, pick one from the list:
  <ul>
    <li><a href="http://pidgin.im/">Pidgin</a>, Windows, Linux, OS X
    <li><a href="http://xchat.org/">X-Chat</a>, Linux
    <li><a href="http://mirc.com/">mirc</a>, Windows
    <li><a href="http://colloquy.info/">colloquy</a>, OS X
  </ul>
  <p>
    Alternatively you can also use the freenode web interface to
    join the IRC channel: <a href="http://bit.ly/pocooirc">open
    #pocoo in your browser</a>.
  <p>
    If you want to read up on older discussions you can access
    the IRC logs on <a href=http://dev.pocoo.org/irclogs/>dev.pocoo.org/irclogs</a>.
{% endblock %}
