<!doctype html>
{% block head %}
<title>{% block title %}Welcome{% endblock %} | Flask (A Python Microframework)</title>
<meta charset=utf-8>
<link rel=stylesheet type=text/css href="/static/style.css">
<script type=text/javascript
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endblock %}
<div class=box>
  {% block body_title %}
    <h1><span>{{ self.title() }}</span></h1>
  {% endblock %}
  <p class=nav>
    <a href=/>overview</a> //
    <a href=/docs/>documentation</a> //
    <a href=/mailinglist/>mailinglist</a> //
    <a href=/snippets/>snippets</a> //
    <a href=/extensions/>extensions</a>
  {% for message in get_flashed_messages() %}
    <p class=message>{{ message }}
  {% endfor %}
  {% block body %}{% endblock %}
  <p class=footer>
    &copy; Copyright 2010 by <a href=http://lucumr.pocoo.org/>Armin Ronacher</a> //
    {% if g.user %}
    <a href=/logout/ title="logged in as {{ g.user.name }} [{{ g.user.openid }}]">logout</a>
    {% else %}
    <a href=/login/>login</a>
    {% endif %}
</div>
