<!doctype html>
{% block head %}
<title>{% block title %}Welcome{% endblock %} | Flask (A Python Microframework)</title>
<meta charset=utf-8>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script type=text/javascript
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endblock %}
<div class=box>
  {% block body_title %}
    <h1><span>{{ self.title() }}</span></h1>
  {% endblock %}
  <p class=nav>
    <a href="{{ url_for('general.index') }}">overview</a> //
    <a href="{{ url_for('docs.index') }}">docs</a> //
    <a href="{{ url_for('community.index') }}">community</a> //
    <a href="{{ url_for('snippets.index') }}">snippets</a> //
    <a href="{{ url_for('extensions.index') }}">extensions</a> //
    <a href="{{ url_for('general.search') }}">search</a>
  {% for message in get_flashed_messages() %}
    <p class=message>{{ message }}
  {% endfor %}
  {% block body %}{% endblock %}
  <p class=footer>
    &copy; Copyright 2010 by <a href=http://lucumr.pocoo.org/>Armin Ronacher</a> //
    {% if g.user %}
    <a href="{{ url_for('general.profile') }}">profile</a> /
    <a href="{{ url_for('general.logout') }}" title="signed in as {{
      g.user.name }} [{{ g.user.openid }}]{% if g.user.is_admin
      %} - Administrator{% endif %}">sign out</a>
    {% else %}
    <a href="{{ url_for('general.login') }}">sign in</a>
    {% endif %}
</div>
