{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <style type=text/css>
    h1 { margin: 0 0 30px 0; background: url(/static/logo.png) no-repeat center; height: 165px; }
    h1 span, p.tagline { display: none; }
  </style>
{% endblock %}
{% block body_title %}
  {{ super() }}
  <p class=tagline>because sometimes a pocket knife is not enough
{% endblock %}
{% block body %}
  <blockquote>
    Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.
    And before you ask: It's <a href=docs/license/>BSD licensed</a>!
  </blockquote>
  <h2>Flask is Fun</h2>
  <pre><span class=ig>from flask import Flask
app = Flask(__name__)</span>

@app.route("/")
def hello():
    return "Hello World!"

<span class=ig>if __name__ == "__main__":
    app.run()</span></pre>
  <h2>And Easy to Setup</h2>
  <pre><span class=ig>$ </span>easy_install Flask
<span class=ig>$ </span>python hello.py
<span class=ig> * Running on http://localhost:5000/</span></pre>
  <h2>Interested?</h2>
  <ul>
    <li>
      <a href=docs/>Read the documentation</a> or download as
      <a href=docs/flask-docs.pdf>PDF</a> and
      <a href=docs/flask-docs.zip>zipped HTML</a>
    <li><a href=mailinglist/>Join the mailinglist</a>
    <li><a href=http://github.com/mitsuhiko/flask>Fork it on github</a>
    <li><a href=http://bitbucket.org/mitsuhiko/flask>Fork it on bitbucket</a>
    <li><a href=http://pypi.python.org/pypi/Flask>Download it from PyPI</a>
  </ul>
  <h2>What’s in the Box?</h2>
  <ul>
    <li>built in development server and <a href=docs/quickstart/#debug-mode>debugger</a>
    <li>integrated support for <a href=docs/testing/>unittesting support</a>
    <li>RESTful <a href=docs/quickstart/#routing>request dispatching</a>
    <li>uses <a href=http://jinja.pocoo.org/2/documentation/templates>Jinja2 templating</a>
    <li>support for <a href=docs/quickstart/#sessions>secure cookies</a> (client side sessions)
    <li>100% <a href=http://www.python.org/dev/peps/pep-0333/>WSGI 1.0</a> compliant
    <li>Unicode based
  </ul>
  <h2>What do Flask Apps look like?</h2>
  <p>
    If you are looking for some example code of applications written with Flask,
    have a look at the sources of the examples on github:
  <ul>
    <li><a href=http://github.com/mitsuhiko/flask/tree/master/examples/flaskr/>flaskr</a>
      — a microblog
    <li><a href=http://github.com/mitsuhiko/flask/tree/master/examples/minitwit/>minitwit</a>
      — a twitter clone
    <li><a href=http://github.com/mitsuhiko/flask/tree/website>this website</a>
      — static pages + mailinglist archives
  </ul>
  <h2>Contribute</h2>
  <p>Found a bug? Have a good idea for improving Flask? Head over to
    <a href=http://github.com/mitsuhiko/flask>Flask's github</a> page and
    create a new ticket or fork.  If you just want to chat with fellow
    developers, go to <code>#pocoo</code> on irc.freenode.net.

<a href="http://github.com/mitsuhiko/flask"><img style="position: fixed; top: 0; right: 0; border: 0;"
  src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
{% endblock %}
