{% extends "layout.html" %}
{% from "_twitter.html" import tweet_box %}
{% block head %}
  {{ super() }}
  <style type=text/css>
    h1 { margin: 0 0 30px 0; background: url({{ url_for('static', filename='logo.png') }}) no-repeat center; height: 165px; }
    h1 span, p.tagline { display: none; }
  </style>
  <script type=text/javascript>
    $(function() {
      $('h1').bind('mousedown contextmenu', function(event) {
        if (event.button != 2)
          return;
        var box = $('div.logohint');
        if (!box.is(':visible'))
          box.animate({'height': 'show', 'opacity': 'show'}, 100);
        event.preventDefault();
        event.returnValue = false;
        return false;
      });
    });
  </script>
{% endblock %}
{% block body_title %}
  {{ super() }}
  <p class=tagline>because sometimes a pocket knife is not enough
  <div class=logohint style="display: none">
    <p>
      Are you interested in the logo?  We have it available in large versions so
      please if you use it head over to the <a href="{{ url_for('community.logos') }}">logo
      page</a> for the logo and the usage guidelines.
    <p>
      Quicklinks: <a href="{{ url_for('static', filename='logo/flask.png') }}">PNG</a>
      and <a href="{{ url_for('static', filename='logo/flask.eps') }}">EPS</a>
  </div>
{% endblock %}
{% block body %}
  <blockquote>
    Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.
    And before you ask: It's <a href="{{ url_for('docs.show', page='license')
      }}">BSD licensed</a>!
  </blockquote>
  <p class=latestver>
    <strong>Latest Version:</strong>
    <a href="{{ latest_release.download_url }}" title="Download tarball">{{ latest_release.version }}</a>
  <h2>Flask is Fun</h2>
  <pre><span class=ig>from flask import Flask
app = Flask(__name__)</span>

@app.route("/")
def hello():
    return "Hello World!"

<span class=ig>if __name__ == "__main__":
    app.run()</span></pre>
  <h2>And Easy to Setup</h2>
  <pre><span class=ig>$ </span>pip install Flask
<span class=ig>$ </span>python hello.py
<span class=ig> * Running on http://localhost:5000/</span></pre>
  <iframe src="http://ghbtns.com/github-btn.html?user=mitsuhiko&amp;repo=flask&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="190px" height="35px" style="float: right"></iframe></iframe>
  <h2>Interested?</h2>
  <ul>
    <li><a href="{{ latest_release.download_url }}">Download latest release</a> ({{ latest_release.version }})
    <li>
      <a href="{{ url_for('docs.index') }}">Read the documentation</a> or download as
      <a href="{{ url_for('docs.pdf') }}">PDF</a> and
      <a href="{{ url_for('docs.zip') }}">zipped HTML</a>
    <li><a href="{{ url_for('mailinglist.index') }}">Join the mailinglist</a>
    <li><a href=http://github.com/mitsuhiko/flask>Fork it on github</a>
    <li><a href=http://github.com/mitsuhiko/flask/issues>Add issues and feature requests</a>
  </ul>
  <h2>What’s in the Box?</h2>
  <ul>
    <li>built in development server and <a href="{{ url_for('docs.show',
      page='quickstart') }}#debug-mode">debugger</a>
    <li>integrated <a href="{{ url_for('docs.show',
      page='testing') }}">unit testing support</a>
    <li>RESTful <a href="{{ url_for('docs.show', page='quickstart')
      }}#routing">request dispatching</a>
    <li>uses <a href=http://jinja.pocoo.org/2/documentation/templates>Jinja2 templating</a>
    <li>support for <a href="{{ url_for('docs.show', page='quickstart')
      }}#sessions">secure cookies</a> (client side sessions)
    <li>100% <a href=http://www.python.org/dev/peps/pep-0333/>WSGI 1.0</a> compliant
    <li>Unicode based
    <li>extensively <a href="{{ url_for('docs.index') }}">documented</a>
  </ul>
  <h2>What do Flask Apps look like?</h2>
  <p>
    If you are looking for some example code of applications written with Flask,
    have a look at the sources of the examples on github:
  <ul>
    <li><a href=http://github.com/mitsuhiko/flask/tree/master/examples/flaskr/>flaskr</a>
      — a microblog
    <li><a href=http://github.com/mitsuhiko/flask/tree/master/examples/minitwit/>minitwit</a>
      — a twitter clone
    <li><a href=http://github.com/mitsuhiko/flask/tree/website>this website</a>
      — static pages + mailinglist archives
  </ul>
  <h2>Contribute</h2>
  <p>Found a bug? Have a good idea for improving Flask? Head over to
    <a href=http://github.com/mitsuhiko/flask>Flask's github</a> page and
    create a new ticket or fork.  If you just want to chat with fellow
    developers, visit <a href="{{ url_for('community.irc') }}">the IRC
    channel</a> or join <a href="{{ url_for('mailinglist.index') }}"
    >the mailinglist</a>.  Also as a simple method to help us improve
    the framework, visit the <a href=http://feedback.flask.pocoo.org/
    >feedback website</a>.  You can also directly add issues and feature
    requests to the <a href="http://github.com/mitsuhiko/flask/issues">
    issue tracker</a>.
  {% if tweets %}
  <h2>Recent Tweets</h2>
  <p>
    What people say about Flask on <a href=http://twitter.com/>Twitter</a>:
  {{ tweet_box(tweets, 3) }}
  <p class=more><a href="{{ url_for('community.twitter') }}">more &raquo;</a>
  {% endif %}

<a href="http://github.com/mitsuhiko/flask"><img style="position: fixed; top: 0; right: 0; border: 0;"
  src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
{% endblock %}
